{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 scol-sm-3">
          
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>    

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <!-- <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <simg src="http://placehold.it/1140x350" alt="..." />
              <img src="{{ asset('bundles/rockittechgames/images/computer.jpg') }}" />
              <div class="carousel-caption">
                
                  <h1>Saturday, April 11</h1>
                    <p class="lead">Join us for the 10th Anniversary of the Avnet Tech Games!</p>
                  
                <p class="pull-left">The University of Advancing Technology<br>
                Tempe, AZ<br>
                Registration opening late fall 2014</p>
              </div>
            </div>
            
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

          
        <div class="row">

            {% for game in games %}
             
            <div class="col-6 col-sm-6 col-lg-4 gm gm-default" style="background-color: {{game.getColor()}}" >
                <a href="{{path('game_detail', {'gameId':game.getGameId()})}}">
                    <h2 class="title">{{game.getShortTitle()}}</h2>
                    
                    {% if game.getImage() == "" %}

                    <i class="glyphicon glyphicon-{{game.getIcon()}}"></i>

                    {% else %}

                    <img src="{{ asset('bundles/rockittechgames/images/')  }}{{game.getImage()}}" alt="..."> 

                    {% endif %}

                                   
                </a>
                <div hidden class="data-content">

                    <div class="reg">
                      <div class="reg-option">
                        <div>Seats open</div>
                        <div class="reg-value">{{game.getSeatsOpen()}}</div>  
                      </div>
                      <div class="reg-option">
                        <div>Team Size</div>
                        <div class="reg-value">{{game.getTeamSize()}}</div>  
                      </div>
                      <div class="reg-option">
                        <div>Location</div>
                        <div class="reg-value">{{game.getLocation()}}</div>  
                      </div>
                    </div>
                    <p class="desc">{{game.getDescription()}}</p>
                    {%  if game.getSchedule()|length > 0 %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Tasks</th>
                          <th>Due</th>
                          <th>&nbsp;</th>                      
                        </tr>
                      </thead>
                      <tbody>
                    {% for event in game.getSchedule() %}
                        <tr>
                            <td>{{ event.getPrettyTitle() }}</td>
                            <td>{{ event.getStartDate()|date("D M j") }}</td>
                            <td>{{ event.getStartDateTime()|date("g:i A") }} - {{ event.getEndDateTime()|date("g:i A") }}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>
                    {%  endif %}
                </div>
            </div> 

            {% endfor %}

          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}


